body {
    font-family: Arial, sans-serif;
}
#lgpd-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(27, 58, 128, 0.8);
    color: white;
    padding: 15px;
    text-align: center;
    display: none;
}
#lgpd-banner button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 10px;
}
#lgpd-container{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}